
.form-wrapper{
  height: "100%";

  .form-group {
    position: relative;
  }
  .form-group-unit {
    position: absolute;
    right: 20px;
    top: 54%;
    font-size: 16px;
    font-weight: 300;
    color: #B0BEC5
  }
  .label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #37474F;
    letter-spacing: 0
  }
  textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16.5px 14px;
    resize: vertical; max-height: 200px;
    font-size: 16px;
  }
  
}