#personalProfileForm{

  form {
    display: flex;
    flex-direction: column;
    height: 100%
  }
  .form-inputs-outer {
    display: flex;
    flex: 1;
    align-items: flex-start
  }
  .form-inputs {
    margin-top: 20px;
    display: flex;
    width: 100%
  }
  .form-column {
    width: 350px;
    max-width: 350px;
    margin-right: 0;
    padding: 0 5px;
  }
  .form-group {
    padding: 0 5px;
    margin-top: 10px;
  }
  .form-actions {
    display: none;
  }
  
}