@import 'styles/_colors.scss';

@font-face {
  font-family: 'futura-medium';
  src: local('futura-medium'), url("./assets/fonts/futura-medium.woff") format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*{
  font-family: 'futura-medium', sans-serif!important;
  box-sizing: border-box;
}

html,body {
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  height: 100%; margin: 0px; padding: 0px; 
  overflow-x: hidden;
}

 //////////////////// 
 // COMMON
 ////////////////////

h5{font-size: 24px;}

.bold{font-weight: bold;}

.flex{display: flex;}
.flex-center-x{display: flex;justify-content: center;}
.flex-center-y{display: flex;align-items: center;}
.flex-center-xy{display: flex;align-items: center;justify-content: center;}
.flex-jcsb{display: flex;justify-content: space-between;}
.flex-col{display: flex;flex-direction: column;}
.flex-reverse{display: flex;flex-direction: row-reverse;}
.flex1{flex: 1;}


.jcsb{justify-content: space-between;}

.text-primary-color{color:#37474F}

.w100{width: 100%;}

 ////////////////////////// 
 // COMPONENTS / overrides
 /////////////////////////

 #leftDrawer{
   
   .MuiPaper-root{
     background-color: $teal_dark;
    }
    svg, span{
      color: white;
    }
   
 }

 button.MuiTab-root{
   text-transform: none!important;
   padding: 25px 47px!important;
   font-size: 18px;
   font-weight: 500;
   color: $lightGray;
 }

 .MuiTab-root.Mui-selected{
   color: $lightBlue!important;
 }

 .MuiButton-root{text-transform: none!important;}

 .MuiButton-root.MuiButton-contained.MuiButton-containedPrimary{
   background-color: $lightBlue!important;
 }

 .MuiTypography-root.label{
  color: $gray;
  font-size: 16px;
  font-weight: 500;
}

.MuiSelect-select.MuiSelect-outlined{
 &:before{border-color: #fff;}
}
.MuiSelect-select.MuiSelect-outlined::after{
 border-color: #fff;
}

// menu item
.MuiList-root svg{
  margin-right: 5px;
}


// Dots

.dot{
  width: 16px;
  height: 16px;  
  border-radius: 50%;
  margin: 0 auto;
}

.success-dot{background-color: $success_color;}
.warning-dot{background-color: $warning_color;}
.error-dot{background-color: $error_color;}